// Code format

.highlight .lineno {
  border: none;
  border-radius: 0;
  border-right: solid 1px;
  color: #aaa;
}
.highlight .code pre {
  font-family: "dm";
  border: none;
  white-space: pre;
  overflow-x: auto;
  word-wrap: normal;
}
.highlight code {
  font-family: "dm";
  border-radius: 4px;
  border: 1px solid #D4C9BE;
  padding: 20px;
  display: block;
  white-space: pre;
  overflow-x: auto;
  word-wrap: normal;
  background: #fff;
  margin-bottom: 30px;
}
