// Titulares
.title-wrapper {
  display: flex;
  justify-content: center;
}
.title-block {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.squares-title {
  background-color: $color-black;
  padding: 30px;
  margin: 5rem 12px;
  box-shadow: -10px 10px $brand-color;
  > * {
    color: #ffffff;
  }
}

.gradient-bg-title {
  background: radial-gradient(
    circle farthest-corner at 200px 0,
    $gray-200,
    $gray-400
  );
  background-position: top left;
}
