---
layout: default
---

{% include page-title.html %}

<div class="container">

  <div class="row">
    <div class="col-5 d-none d-md-block">
      <ul class="nav flex-column tags-list">
        <li class="nav-item">
          <a class="nav-link" href="/blog/tag/javascript/">#JavaScript</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog/tag/python/">#Python</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog/tag/node/">#Node</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog/tag/npm/">#npm</a>
        </li>
      </ul>
    </div>
    <div class="col-12 col-md-7">
      {{ content }}
      <ul class="post-list">
        {% for post in paginator.posts %}
        <li>
          <!-- Featured image -->
          <div class="blog-image-wrapper">
            <img src="{{ site.baseurl }}/assets/images/blog/{{ post.image }}" />
          </div>
          <a class="post-link" href="{{ post.url }}">
            <h4>
              {{ post.title }}
            </h4>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-12 py-5">
      <div class="pagination">
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">&laquo; Previous</a>
        {% endif %}

        <span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>

        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Next &raquo;</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>