---
layout: default
---

<div class="row">
  <div class="col-12 col-lg-6 offset-lg-3 px-4">

    {% capture page_subtitle %}Artículos por tag{% endcapture %}

    {% include special-header.html title=page.name subtitle=page_subtitle %}

    <a class="return" href="{{ site.baseurl }}/blog/"><i class="fa-solid fa-arrow-left"></i> Volver al blog</a>

    <div class="text-justify">
      {% if site.tags[page.slug] %}
      {% for post in site.tags[page.slug] %}
      {% capture post_year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% if forloop.first %}
      <h3 class="my-3">{{ post_year }}</h3>
      <div class="list-group">
        {% endif %}
        {% unless forloop.first %}
        {% assign previous_index = forloop.index0 | minus: 1 %}
        {% capture previous_post_year %}{{ site.tags[page.slug][previous_index].date | date: '%Y' }}{% endcapture %}
        {% if post_year != previous_post_year %}
      </div>
      <h3 class="my-3">{{ post_year }}</h3>
      <div class="list-group">
        {% endif %}
        {% endunless %}
        <a href="{{ post.url }}" class="list-group-item">
          <h4 class="list-group-item-heading h6">{{ post.title }}</h4>
        </a>
        {% if forloop.last %}
      </div>
      {% endif %}
      {% endfor %}
      {% else %}
      <p>There are no posts in this tag.</p>
      {% endif %}
    </div>

  </div>
</div>